.bg-cinza {
  background-color: #f0f0f0;
}

.experiencia {
  max-width: 1200px;
  padding: 30px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #c9c9c9;
  margin-top: 20px;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-top: 35px;
  margin-bottom: 100px;
  max-width: 50ch;
  color: #292929;
}

.experiencia-texto strong {
  color: #141414;
}

.case {
  background-color: #c9c9c9;
  border-radius: 6px;
  max-width: 650px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px;
  gap: 15px 15px;
  margin-bottom: 40px;
  border: 1px solid rgba(188, 63, 63, 0.3);
  position: relative;
}

.case::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, #ff8282 0%, #751a1a 100%);
  position: absolute;
  left: -4px;
  top: 30px;
}

.ano {
  position: absolute;
  left: -80px;
  top: 32px;
  color: #292929;
  font-size: 0.875rem;
}

.case-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.case-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.case-items li {
  font-size: 0.875rem;
  line-height: 1.4;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 4px;
}

@media (max-width: 890px) {
  .subtitulo {
    font-size: 4rem;
  }
  .experiencia-texto {
    font-size: 1rem;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    font-size: 3rem;
    max-width: initial;
    color: #141414;
    text-align: center;
  }
  .experiencia-texto {
    font-size: 1rem;
    line-height: 1.3;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .ano {
    position: initial;
    order: 1;
  }
  .ano::before {
    content: "Ano: ";
  }
}

@media (max-width: 400px) {
  .case {
    grid-template-columns: 1fr;
  }
  .projeto {
    color: #646464;
  }
}
